#root {

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.auth-form{
  display: block;
  margin: 0 auto;
  width: 350px;
}
/* html, body {
  height: 100%;
}
 */
/* .container {
  min-height: 100%;
} */

/* .d-flex {
  display: flex !important;
} */