@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lemonada:wght@300..700&display=swap');

.auth-form {
  display: block;
  width: 350px;
}

.community-page{
  background-color: lightblue;
  min-height: 100vh;
}

.availableBooks{
  text-align: center;
  color: green;
  font-family: "Lemonada", cursive;
}

.longInput {
  width: 750px;
}

.displayBook {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
img{
  transition: all 0.3s ease;
}
img:hover{
  transform: scale(1.1);
}

.displayBook img {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  max-height: 200px;
}

.displayBook p {
  margin: 5px;
  padding: 10px; 
  text-align: center; 
}

.updateProfileBtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.updateProfileBtns button {
  padding: 2px 5px;
  font-size: 12px;
}

.userInfo {
  text-align: center;
  margin-bottom: 40px;
}

.userInfo p {
  margin: 5px 0;
}

.searchBar {
  border-radius: 10px;
  border: 2px solid gray;
}

.avatarContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.avatar-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  
}

.avatar-select img {
  height: auto;
  width: 100%;
}

.avatar-selected {
  border: 2px solid lightblue;
  background-color: lightblue;
  border-radius: 50%;
  padding: 1px;
}

.avatarProfilePic {
  height: 40px;
}

